*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    user-select: none;
}
body{
    font-family: cursive;
    font-weight: 900;
    overflow: hidden;
   
}
.root{
    animation: root 2s alternate infinite;
}
.card_edit{
    height: 20rem;
    width: 20rem;
}
@keyframes root {
   /*  0%{
       transform: rotateY(0deg);
    }
    10%{
        transform: rotateY(40deg);
    }
    50%{
        transform: rotateY(50deg);
    }
    70%{
        transform: rotateY(70deg);
    }
    100%{
        transform: rotateY(100deg);
    } */
    0%{
       transform: rotate(0deg);
     }
     10%{
        transform: rotate(2deg);
     }
     50%{
        transform: rotate(50deg);
     }
     70%{
        
     }
     100%{
        transform: rotate(100deg);
     }
}
.section{
    background-image: url("../images/first.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    /* height: 50rem; */
    
}
.ul ul{
    padding: 15px;
    margin: 0;
}
.ul ul li a{
    text-decoration: none;
   color: #eee;
}
.ul ul li a:hover{  
   color: rgb(199, 198, 195);
}
.ul ul li:hover{
    background: rgb(199, 56, 56);
    border-radius: 10%;
 }
.ul ul li {
   list-style-type: none;
   padding: 15px 0;
   text-align: center;
  /*  border-bottom: solid 2px #eee; */
}
